<article>
    <header>
    <h1>Talks</h1>
    </header>
    <section>
        <header>
        </header>
        <div ng-include="talkHeaderTemplate"></div>

    </section>
    <div class="speaker">
        <div class="avatar">
          <img src="https://pbs.twimg.com/profile_images/1314931811/image.jpg" align="left"/>
        </div>
        <div class="box-content">
            <h3>Oliver Mensinger - <span class="speaker__talk-name">About Redis</span></h3>
            <p><a href="http://redis.io" target="_">Redis</a> is a widely spread in-memory enhanced data store. Find out about the basics, how to gain from Redis in your projects and avoid pitfalls.</p>
        </div>
    </div>
</article>
